  table {
    width: 100%;
    border-collapse: collapse; /* Perquè les línies no siguin dobles */
  }
  th, td {
    border: 1px solid #dddddd;
    padding: 8px;
  }
  tr:nth-child(even) {
    background-color: #f2f2f2; /* Color gris per a les files parells */
  }
  th {
    background-color: #4CAF50;
    color: white;
    text-align: center;
  }
  td{
    text-align: right;
  }